@use '../mixins' as m;
@use '../variables' as v;

.analytics {
  &__container {
    @include m.respond-min(v.$bp-tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    &:last-child {
      @include m.respond-min(v.$bp-tablet) {
        justify-self: flex-end;
      }
    }
  }
  &__title {
    padding-bottom: 26px;
    @include m.respond-min(v.$bp-tablet) {
      font-weight: 700;
      font-size: 50px;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
    @include m.respond-min(v.$bp-tablet) {
      margin-bottom: 0;
    }
  }
}

.analytics-card {
  padding: 6px 15px;
  display: flex;
  gap: 12px;
  align-items: center;
  width: 80%;
  max-width: 300px;

  &:last-child {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: -80px;
      right: -60px;
      background: url('../../assets/images/decor/mobile-app-arrow.svg') center /
        contain no-repeat;
      transform: rotate(168deg);
      width: 48px;
      height: 121px;
      z-index: 1;
      @include m.respond-min(v.$bp-tablet) {
        display: none;
      }
    }
  }
  &__image-wrap {
    margin: 3px;
    margin-left: -7px;
    margin-bottom: -4px;

    width: 30%;
    width: 60px;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__body {
  }

  &__name {
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 4px;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 17px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 14px;
    }
    &--red {
      color: rgb(207, 37, 37);
    }
  }

  &__time {
    align-self: flex-end;
    font-weight: 500;
    font-size: 10px;
    margin-left: auto;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 12px;
    }
  }
}

.analytics-card-stats {
  border: 1px solid #edf2f7;
  padding: 27px 22px;
  margin: 0 auto;
  max-width: 600px;
  &__header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 40px;
    @include m.respond-min(v.$bp-mobile) {
      padding-bottom: 20px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 16px;
    line-height: 135%;
    letter-spacing: 0.01em;
    color: #1a202c;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 28px;
    }
  }

  &__select-wrap {
  }

  &__select {
  }

  &__carts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    @include m.respond-min(v.$bp-tablet) {
      gap: 50px;
    }
  }

  &__cart {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1.57px solid #edf2f7;
    border-radius: 19px;
    padding: 25px;
  }
}

.analytics-chart {
  &--first {
    & .analytics-chart__icon-wrap {
      background: #f4f0ff;
    }
    & .analytics-chart__line {
      background: #6b5fbc4f;
      &::after {
        background-color: #6c5fbc;
        width: 80%;
      }
    }
  }
  &--second {
    & .analytics-chart__icon-wrap {
      background: #f2fdf6;
    }
    & .analytics-chart__line {
      background: #fbac183d;
      &::after {
        background-color: #fbad18;
        width: 60%;
      }
    }
  }
  &__block {
    display: flex;
    gap: 12px;
    align-items: center;
    @include m.respond-min(v.$bp-tablet) {
      min-width: 400px;
    }
  }

  &__icon-wrap {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__info {
  }

  &__info-label {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #1a202c;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 18px;
    }
  }

  &__info-sub-label {
    font-weight: 500;
    font-size: 12px;

    // line-height: 14px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #a0aec0;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 15px;
    }
  }

  &__price {
    font-weight: 800;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: 0.01em;
    text-align: right;
    color: #1a202c;
    margin-left: auto;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 21px;
    }
  }

  &__line {
    width: 100%;
    border-radius: 47px;
    height: 5px;
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      height: 100%;
    }
  }
}

.analytics-select {
  position: relative;

  &__trigger {
    background: #fafafa;
    padding: 7px 11px;
    padding-right: 32px;
    border: none;
    width: 120px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 7px;
    position: relative;
    text-align: start;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 18px;
      width: 160px;
      height: 50px;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 35px;
      height: 20px;
      right: 1px;
      top: 50%;
      transform: translateY(-50%);
      background: url('../../assets/images/decor/analytics-arrow-down.svg')
        center / contain no-repeat;
    }
  }

  &__list {
    position: absolute;
    top: 100%;
    right: 50%;
    transform: translateX(50%);
    display: none;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100px;
    z-index: 1;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 18px;
      width: 120px;
    }
  }

  &__option {
    padding: 8px 8px;
    font-size: 14px;
    cursor: pointer;
    text-align: start;
    @include m.respond-min(v.$bp-tablet) {
      font-size: 18px;
    }

    &:hover {
      background: #e0e0e052;
    }
  }
  &--open &__list {
    display: block;
  }
}
