@use '../variables' as v;
@use '../mixins' as m;

.comments {
  &__title {
    padding-bottom: 60px;
  }

  &__slider {
    position: relative;
  }

  &__track {
    padding-bottom: 60px;
    @include m.respond-min(v.$bp-tablet) {
      padding-bottom: 0;
      display: flex;
      gap: 30px;
      align-items: flex-start;
    }
  }

  &__progress {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    height: 5px;
    width: 98%;
    max-width: 600px;
    right: 50%;
    transform: translateX(50%);
    @include m.respond-min(v.$bp-tablet) {
      width: 53.6%;
      right: 0px;
      max-width: none;
      transform: none;
      bottom: 0px;
    }
  }
  &__progress-line {
    border-radius: 6px;
    background-color: #6b5fbc40;
    height: 5px;
    width: 100%;
    // margin: 0 auto;
    position: relative;
    @include m.respond-min(v.$bp-tablet) {
      //   max-width: 100%;
      //   margin: none;
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 100%;
      background-color: #6c5fbc;
      border-radius: 6px;
    }
  }
}

// ----CARD----
.comments-card {
  display: flex;
  flex-direction: column;
  padding: 25px;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
  opacity: 0.6;
  max-width: 600px;
  margin: 0 auto;

  display: none;
  @include m.respond-min(v.$bp-tablet) {
    display: block;
    max-width: none;
    flex: 0 0 43%;
  }
  &--active {
    opacity: 1;
    display: block;
    @include m.respond-min(v.$bp-tablet) {
      display: block;
    }
  }
  &_header {
    height: 1px;
    opacity: 0;
    gap: 1px;
  }

  &--active &_header {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    height: auto;
    opacity: 1;
    padding-bottom: 25px;
  }

  &__photo-wrap {
    width: 45px;
    height: 45px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__info-human {
  }

  &__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: v.$color-1;
  }

  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 156%;
    color: #5e5d5d;
  }

  &__icon-quotes {
    width: 35px;
    height: 26px;
    margin-left: auto;
  }

  &__img-quotes {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__body {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;

    // line-height: 16px;
    line-height: 145%;
    text-align: justify;
    color: v.$color-2;
    padding-bottom: 25px;
  }

  &__stars-wrap {
    height: 14px;
  }

  &__img-stars {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}
