@use '../variables' as v;
@use '../mixins' as m;

.comments {
  --container: #{v.$container-max-width};
  --card-basis: 40%;
  --card-padding: 30px;
  --track-padding-left: calc(max(0px, (100vw - var(--container)) / 2));
  --padding-horizontal-mobile: #{v.$padding-horizontal-mobile};
  --padding-horizontal-desktop: #{v.$padding-horizontal-desktop};
  --padding-bottom-slider-desktop: 60px;

  &__container {
    max-width: var(--container);
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    @include m.respond-min(1024px) {
      padding-top: 80px;
      padding-bottom: 0px;
    }
  }
  &__title {
    padding-bottom: 20px;
    text-align: center;
    max-width: 100%;
  }

  &__slider {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    padding-bottom: var(--padding-bottom-slider-desktop);

    @include m.respond-min(v.$bp-tablet) {
      width: 100vw;
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      padding-bottom: var(--padding-bottom-slider-desktop);
    }
  }

  &__track {
    display: flex;
    transition: transform 0.4s ease;
    touch-action: pan-y;
    cursor: grab;
    user-select: none;
    @include m.respond-min(v.$bp-tablet) {
      padding-left: var(--track-padding-left);
      align-items: stretch;
    }
  }

  &__progress-line {
    position: absolute;
    z-index: -1;
    height: 5px;
    width: calc(100% - 3 * var(--card-padding));
    left: calc(var(--card-padding) * 1.5);
    background-color: #6b5fbc40;
    bottom: 30px;
    border-radius: 6px;
    @include m.respond-min(v.$bp-tablet) {
      // left side and width are set dynamically in JS
      bottom: calc(var(--padding-bottom-slider-desktop) + var(--card-padding));
    }
  }
  &__progress-fill {
    transition: width 0.2s ease;
    top: 0;
    left: 0;
    // width set dynamically in JS
    height: 100%;
    background-color: #6c5fbc;
    border-radius: 6px;
  }
}

// ------------------------------------
// ---- WRAP ----
// ------------------------------------
.comments-card-wrap {
  flex: 0 0 100%;
  padding: var(--card-padding);
  position: relative;
  z-index: 99;
  @include m.respond-min(v.$bp-tablet) {
    flex: 0 0 var(--card-basis);
    padding: var(--card-padding);
  }
}

// ------------------------------------
// ---- CARD ----
// ------------------------------------
.comments-card {
  padding: 25px;
  display: flex;
  flex-direction: column;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;

  align-items: center;
  @include m.respond-min(v.$bp-tablet) {
    max-width: none;
  }
  &--active {
    opacity: 1;
    @include m.respond-min(v.$bp-tablet) {
      display: block;
    }
  }
  &:not(&--active) {
    opacity: 0.6;
  }
  &_header {
    height: 1px;
    opacity: 0;
    gap: 1px;
  }

  &--active &_header {
    display: block;
    display: flex;
    align-items: center;
    gap: 20px;
    height: auto;
    opacity: 1;
    padding-bottom: 25px;
  }

  &__photo-wrap {
    width: 45px;
    height: 45px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  &__info-human {
  }

  &__name {
    font-weight: 500;
    font-size: 15px;
    line-height: 150%;
    color: v.$color-1;
  }

  &__time {
    font-weight: 500;
    font-size: 12px;
    line-height: 156%;
    color: #5e5d5d;
  }

  &__icon-quotes {
    width: 35px;
    height: 26px;
    margin-left: auto;
  }

  &__img-quotes {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__body {
    font-style: italic;
    font-weight: 400;
    font-size: 12px;

    // line-height: 16px;
    line-height: 145%;
    text-align: justify;
    color: v.$color-2;
    padding-bottom: 25px;
  }

  &__stars-wrap {
    height: 14px;
  }

  &__img-stars {
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}
