@use '../variables.scss' as v;
@use '../mixins.scss' as m;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
  }
  &__container-actions {
    position: absolute;
    height: 100vh;
    width: 80vw;
    top: 0;
    right: 0;
    background: v.$bg-main;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 30px;
    font-weight: 595;
    letter-spacing: v.$letter-spacing;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    &--opened {
      transform: translateX(0);
    }
    @include m.respond-min(500px) {
      width: 40vw;
    }
    @include m.respond-min(997px) {
      position: relative;
      height: auto;
      width: auto;
      flex-direction: row;
      justify-content: space-between;
      flex: 1 1 auto;
      background: transparent;
      transform: translateX(0);
      gap: 40px;
      font-size: 16px;
      font-weight: 500;
      padding-left: 73px;
      font-size: 12px;
    }
  }
  &__nav {
  }
  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 80px;
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;

    @include m.respond-min(v.$bp-tablet) {
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
      flex-direction: row;
      gap: 40px;
    }
  }
  &__container-actions {
    @include m.respond-max(v.$bp-tablet) {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      z-index: 100;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-left: 24px;
    padding-right: 24px;
    @include m.respond-min(997px) {
      padding-left: 0;
      padding-right: 0;
      flex-direction: row;
      align-items: center;
      gap: 16px;
    }
  }

  &__action-button {
  }

  &__action-button--login {
    @include m.button-reset;
    font-weight: 600;
  }

  &__action-button--signup {
    font-weight: 700;
    letter-spacing: v.$letter-spacing;
  }

  &__burger {
    @include m.button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    z-index: 101;

    @include m.respond-min(997px) {
      position: absolute;
      visibility: hidden;
      transform: translateX(-100px);
    }
    &--opened {
      & .header__burger-line {
        &:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }
  }
  &__burger-lines {
    width: 24px;
    height: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__burger-line {
    height: 2px;
    width: 100%;
    background-color: v.$black;
    border-radius: 2px;
    transition:
      transform 0.3s ease,
      opacity 0.3s ease;
  }
}
