@use '../variables' as v;
@use '../mixins' as m;

.promo-subscription {
  position: relative;
  padding-bottom: 20px;
  @include m.respond-min(v.$bp-tablet) {
    padding-bottom: 0;
  }
  &__container {
    position: relative;
  }
  &__content {
    background: v.$accent;
    border-radius: 24px;
    padding: 48px;
    position: relative;
    padding-bottom: 120px;
    width: 100%;
    @include m.respond-min(v.$bp-tablet) {
      padding-bottom: 48px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 24px;
        background: url('../../assets/images/decor/bg-icons.svg') center /
          contain;
        opacity: 0.6;
        z-index: 0;
      }
    }
  }

  &__title {
    margin-bottom: 24px;
    color: v.$bg-white;
    font-weight: 800;
    font-size: 41px;
    text-align: center;
    position: relative;
    z-index: 1;
    @include m.respond-min(v.$bp-tablet) {
      text-align: start;
      font-size: 49px;
    }
  }

  &__form {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    @include m.respond-min(v.$bp-tablet) {
      margin: 0;
    }
  }

  &__field {
    position: relative;

    flex: 1;
  }
  &__input {
    display: block;
    border: none;
    border-radius: 9px;
    flex: 1;
    padding: 20px;
    box-shadow: 0 5px 29px 0 rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: v.$text-3;
    &:focus {
      outline: none;
      box-shadow: none;
    }
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  &__button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #6c5fbc;
    border-radius: 7px;
    padding: 12px 20px;
    border: none;
    color: v.$bg-white;
    font-weight: 500;
    font-size: 9px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(247, 248, 250, 0.7);
    @include m.respond-min(v.$bp-tablet) {
      font-size: 12px;
    }
  }

  &__image-wrapper {
    position: absolute;
    bottom: -4%;
    left: 50%;
    max-width: 170px;
    max-height: 170px;
    transform: translateX(-50%);
    @include m.respond-min(v.$bp-tablet) {
      max-width: 220px;
      max-height: 220px;
      right: 7%;
      left: auto;
      bottom: 30px;
      transform: translateX(0px);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}
