@use '../variables.scss' as v;
@use '../mixins.scss' as m;

.restaurants {
  &__container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    max-width: 385px;
    margin: 0 auto;
    @include m.respond-min(v.$bp-tablet) {
      max-width: 1250px;
    }
  }

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 30px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 50px;
    width: 100%;

    @include m.respond-min(v.$bp-tablet) {
      flex-direction: row;
      gap: 21px;
      justify-content: center;
      flex: 1 1 220px;
    }
  }

  &__view-all {
    align-self: end;
  }

  &__view-all-link {
  }

  &__view-all-arrow {
  }
}

.restaurant-card {
  background-color: v.$bg-stats;
  border-radius: 24px;
  border: 1px solid v.$bg-main;
  box-shadow: 5px 57px 28px 0 v.$shadow-2;
  background: #fff;
  position: relative;
  width: 100%;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: scale(1.05);
  }

  @include m.respond-min(v.$bp-tablet) {
    flex: 1;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 58%;
    background: #323142;
    border-radius: 24px 24px 0 0;
    opacity: 0.05;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.4) 25%,
      rgba(255, 255, 255, 0) 60%
    );
    pointer-events: none;
    border-radius: 24px 24px 0 0;
    opacity: 0.4;
  }

  &__image-wrap {
    height: 140px;
    width: auto;
    background-color: v.$bg-main;
    min-height: 120px;
    border-radius: 24px 24px 0 0;
  }

  &__image {
    background-color: v.$bg-main;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
  }

  &__body {
    padding: 9px 26px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    position: relative;
  }

  &__label {
    font-weight: 400;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 4px;

    &--yellow {
      color: v.$text-yellow;
      background: v.$bg-yellow-light;
    }

    &--red {
      color: v.$text-red;
      background: v.$bg-red-light;
    }
    &--green {
      color: v.$text-green;
      background: v.$bg-green-light;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 162%;
    color: v.$text-secondary;
    max-width: 170px;
    @include m.ellipsis;
  }

  &__meta {
    font-weight: 400;
    font-size: 15px;
    line-height: 162%;
    color: v.$text-main-light;
  }

  &__bookmark {
    @include m.button-reset;
    position: absolute;
    bottom: 14px;
    right: 22px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: v.$bg-10;
    border: 1px solid v.$border-2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
