@use '../variables' as v;
@use '../mixins' as m;

.stats {
  background-color: v.$text-accent;
  color: v.$bg-white;
  position: relative;
  overflow: hidden;
  &__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  &__blocks {
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    text-align: center;
    @include m.respond-min(v.$bp-tablet-portrait) {
      flex-direction: row;
      justify-content: center;
      text-align: center;
      gap: 0;
    }
  }
  &__block {
    width: 100%;
    padding-bottom: 60px;
    border-bottom: 1px solid v.$divider-color-2;
    max-width: 300px;
    flex: 1;
    @include m.respond-min(v.$bp-tablet-portrait) {
      padding: 0 25px;
      border-bottom: none;
      border-right: 1px solid v.$divider-color-2;
      padding-bottom: 0;
    }
    &:last-child {
      border: none;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 43px;
    padding-bottom: 10px;
  }

  &__subtitle {
    font-weight: 500;
    font-size: 14px;
    color: #c5bfed;
    line-height: 150%;
    display: flex;
    flex-direction: column;
    @include m.respond-min(v.$bp-tablet-portrait) {
      flex-direction: row;
    }
  }
  &__decor {
    width: 100%;
    height: 100%;

    @include m.respond-min(v.$bp-tablet) {
    }
  }
  &__decor-svg {
    position: absolute;

    &:nth-child(1),
    &:nth-child(2) {
      top: 54px;
      left: -118px;
      transform: rotate(99deg);
      @include m.respond-min(v.$bp-tablet) {
        top: 0;
        left: 0;
        transform: rotate(0);
      }
    }
    &:nth-child(3),
    &:nth-child(4) {
      bottom: -51px;
      right: -40px;
      transform: rotate(20deg);
      @include m.respond-min(v.$bp-tablet) {
        bottom: 0;
        right: 0;
        transform: rotate(0);
      }
    }
  }
}
