@use './variables' as v;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: v.$text-main;
  padding-top: v.$header-height;
}

h1,
h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
