@use 'variables' as v;
@use 'mixins' as m;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  @include m.respond-min(1024px) {
    padding: 0 20px;
  }
}

.divider {
  height: 1px;
  background-color: v.$divider-color;
  margin: 0 20px;
}

.divider-vertical {
  background-color: v.$divider-color;
  display: block;
  width: 2px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;

  &__image {
    height: 42px;
    width: auto;
  }

  &__text {
    color: v.$accent;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: v.$letter-spacing;
  }
}

.title {
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  color: v.$title-color;
  margin: 0;
  text-align: center;
  max-width: 540px;
  @include m.respond-min(v.$bp-tablet) {
    max-width: none;
    font-size: 75px;
    text-align: start;
  }
  span {
    color: v.$accent;
  }
}

.button {
  display: inline-block;
  padding: 14px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 5px;
  @include m.respond-min(768px) {
    padding: 18px 30px;
  }
  &--primary {
    color: #fff;
    background-color: v.$accent;
  }
  --secondary {
    color: v.$accent;
    border: 1px solid v.$accent;
  }
}
