@use 'variables' as v;
@use 'mixins' as m;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  @include m.respond-min(1024px) {
    padding: 0 20px;
  }
}

.divider {
  height: 1px;
  background-color: v.$divider-color;
  margin: 0 20px;
}

.divider-vertical {
  background-color: v.$divider-color;
  display: block;
  width: 2px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;
}
.logo {
  display: flex;
  align-items: center;
  gap: 11px;

  &__image {
    height: 42px;
    width: auto;
  }

  &__text {
    color: v.$accent;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: v.$letter-spacing;
  }
}
