@use 'variables' as v;
@use 'mixins' as m;

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px v.$padding-horizontal-mobile;

  @include m.respond-min(1024px) {
    padding: 80px v.$padding-horizontal-desktop;
  }
}

.divider {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: v.$divider-width;
    background-color: v.$divider-color;
    width: calc(100% - 2 * v.$padding-horizontal-mobile);
    @include m.respond-min(v.$bp-desktop) {
      width: calc(100% - 2 * v.$padding-horizontal-desktop);
    }
  }
}

.divider-vertical {
  background-color: v.$divider-color;
  display: block;
  width: 2px;
  height: 100%;
  flex-shrink: 0;
  align-self: stretch;
}

.logo {
  display: flex;
  align-items: center;
  gap: 11px;

  &__image {
    height: 42px;
    width: auto;
  }

  &__text {
    color: v.$accent;
    font-weight: 600;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: v.$letter-spacing;
  }
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 120%;
  color: v.$title-color;
  margin: 0;
  text-align: center;
  max-width: 540px;
  @include m.respond-min(v.$bp-tablet) {
    text-align: start;
  }
  &--big {
    font-size: 46px;
    @include m.respond-min(v.$bp-tablet) {
      max-width: none;
      font-size: 75px;
    }
  }
  span {
    color: v.$accent;
  }
}

.button {
  display: inline-block;
  padding: 14px 24px;
  border-radius: 12px;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 5px;

  @include m.respond-min(768px) {
    padding: 18px 30px;
  }

  &--primary {
    color: #fff;
    background-color: v.$accent;
  }

  --secondary {
    color: v.$accent;
    border: 1px solid v.$accent;
  }
}

.card {
  background-color: v.$bg-stats;
  border-radius: 24px;
  border: 1px solid v.$bg-main;
  box-shadow: 5px 57px 28px 0 rgba(229, 229, 229, 0.7);
  background: #fff;
  position: relative;
  width: 100%;
  @include m.respond-min(v.$bp-tablet) {
    flex: 1;
  }
  &__image-wrap {
    border-radius: 24px 24px 0 0;
  }
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 24px 24px 0 0;
  }
  &__body {
    padding: 9px 26px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: start;
    position: relative;
  }
  &__name {
    font-weight: 600;
    font-size: 20px;
    // line-height: 1%;
    color: v.$text-secondary;
    max-width: 170px;
    @include m.ellipsis;
  }

  &__meta {
    font-weight: 400;
    font-size: 15px;
    line-height: 162%;
    color: v.$text-main-light;
  }
  &__label {
    font-weight: 400;
    font-size: 10px;
    padding: 3px 7px;
    border-radius: 4px;
    margin-bottom: 4px;

    &--yellow {
      color: #daa31a;
      background: #f7edd0;
    }

    &--red {
      color: #fb471d;
      background: #f7c5ba;
    }
    &--green {
      color: #309d5b;
      background: #33ac64;
    }
  }
}
