$bg-main: #f9f9f9;
$divider-color: #d1cfcf;
$divider-color-2: #d1cfcf4b;
$accent: #6c5fbc;
$title-color: #201f1f;
$text-main: #606060;
$text-main-light: #676767;
$text-accent: #5c4eae;
$text-accent-light: #6155ae;
$black: rgba(32, 31, 31, 0.2);
$bg-stats: #201f1f;

$radius: 18px;
$letter-spacing: 0.55px;
$header-height: 106px;

$bp-mobile: 0;
$bp-tablet-portrait: 768px;
$bp-tablet: 1024px;
$bp-desktop: 1440px;
