$bg-main: #f9f9f9;
$accent: #6c5fbc;

$text-main: #606060;
$text-main-light: #676767;
$text-accent: #5c4eae;
$text-accent-light: #6155ae;
$black: #282828;

$divider-color: #d1cfcf;

$radius: 18px;
$letter-spacing: 0.55px;
