/* base styles */
@use 'normalize.css';
@use './variables';
@use './mixins';
@use './typography';
@use './base';

/* utilities */
@use './components';

/* pages */
@use './pages/home.scss';
@use './pages/about.scss';

/* blocks */
@use './blocks/header.scss';
@use './blocks/footer.scss';
@use './blocks/hero.scss';
